em{
    font-style: italic;
    font-size: 20px;
    font-variant: small-caps;
    word-spacing: 2px;
    letter-spacing: 1px;
    line-height: 25px;
    text-align: center;
}
h2{
    color: white;
    text-shadow: 0 0 5px red;
}
p{
    color: rgb(5, 148, 5);
   
}
p.abc{
    color: red;
    
}
p.abd{
    color: blue;
   
}